<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gun Violence - %%STATE_TITLE%%</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="content">
        <img id="manufacturer_img" src="%%STATE_IMAGE%%" alt="%%STATE_ALT_TEXT%%" />
        <h1 id="manufacturer_name">%%STATE_HEADER%%</h1>
        <div class="clear"></div>
        <table>
            <thead>
                <tr>
                    <th>Incident ID</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Killed</th>
                    <th>Injured</th>
                </tr>
            </thead>
            <tbody>
                %%STATE_INFO%%
            </tbody>
        </table>
</body>
</html>
