<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gun Violence - %%DATE_TITLE%%</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="plotly-2.16.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<canvas id="myChart1" width="800" height="400"></canvas>

<script>

    const ctx = document.getElementById('myChart1');

    const myChart1 = new Chart(ctx, {
    type: 'bar',
    data: {
    labels:  ['West',
              'Southwest',
              'Midwest',
              'Southeast',
              'Northeast',
              'Pacific'],

        datasets: [{
            label: 'Number of incidents per year in each region That Experienced an Act of Gun Violence',
            data: ['%%West%%', '%%Southwest%%', '%%Midwest%%', '%%Southeast%%', '%%Northeast%%', '%%Pacific%%'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {    
                beginAtZero: true,    
                title : {
                    display: true,
                    text: 'Amount of Fatalities'

                }
                     
            }         
            
        }
    }
});
</script>

</body>
</html>